* { padding: 0; margin: 0; }
canvas { background: #3C3C3C; display: block; margin: 0 auto; }

#message-box {
    width: 97%;
    display: inline-block;
    height: 180px;
}
#msg {
    height: 180px;
    overflow: auto;
    padding: 29px;
}

#chat-box{
   position: absolute;  bottom: 0;
}
